{{#partial page}}
  <main class="content" role="main">
    <article class="{{blog.post_class}}">
      <header>
        <h1 class="post-title">{{{post.title}}}</h1>
      </header>
      <section class="post-content">
      {{{post.content}}}
      <br>
      </section>
    </article>
  </main>
{{/partial}}
{{~> layout~}}
